# USB Camera udev rules
# Place this file in /etc/udev/rules.d/

# Innomaker U20CAM-1080p-S1 Camera
# Creates symlink: /dev/usbcam
SUBSYSTEM=="video4linux", ATTRS{idVendor}=="0c45", ATTRS{idProduct}=="6366", \
    MODE="0660", GROUP="video", \
    SYMLINK+="usbcam", \
    TAG+="uaccess"

# Centerm Camera (Alcor Micro)
# Creates symlink: /dev/usbcam_mic
SUBSYSTEM=="video4linux", ATTRS{idVendor}=="2b46", ATTRS{idProduct}=="bd01", \
    MODE="0660", GROUP="video", \
    SYMLINK+="usbcam_mic", \
    TAG+="uaccess"

# Audio interfaces for Centerm Camera
SUBSYSTEM=="sound", ATTRS{idVendor}=="2b46", ATTRS{idProduct}=="bd01", \
    MODE="0660", GROUP="audio", \
    TAG+="uaccess"
